/* Settings for Google Maps inside an ink column */
html, body, #map-canvas {
    height: 0;
    margin: 0;
    padding: 0;
    padding-bottom: 70%;
}
/* Fix UIControl for Google maps showing compressed */
#map-canvas img { max-width: none; }
