/* Settings for Google Maps inside a bootstrap column */
html, body, #map-canvas {
    height: 100%;
    margin: 0;
    padding: 0;
}

@media screen and (orientation:portrait) {
    html, body, #map-canvas {
        padding-bottom: 100%;
    }

    .navbar-form.pull-left {
        padding-left: 0;
        padding-right: 0;
        max-width: 20%;
    }
}

@media screen and (orientation:landscape) {
    html, body, #map-canvas {
        padding-bottom: 56.25%; /* 16:9 */
    }
}

body {
    padding-top: 50px;
}
/* Fix UIControl for Google maps showing compressed */
#map-canvas img { max-width: none; }

.navbar-form {
    padding-top: 0;
}

.open>.dropdown-menu {
    height: auto;
    max-width: auto;
}
.scrollable-menu {
    max-height: 1000%;
    overflow-y: auto;
    overflow-x: hidden;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
    margin: auto;
}

.navbar .navbar-collapse form {
    white-space: nowrap;
    float: left;
}

.navbar .navbar-collapse li {
    white-space: wrap;
    max-width: 100%;
    float: right;
}

.addressbox {
    max-width: 75%;
}
